html{
  font-family: "Ubuntu", sans-serif;
}
.h-100{
  height: 100px;
}
/*HEADER*/
/*HEADER START*/
#section1{
  background-color: #1c2980;
}
#section1 h1{
  color: white;
}
#section1 ul li, #section1 .burger{
  display: inline-block;
  float: right;
  margin-left: 10px;
}
#section1 .burger{
  color: white;
  line-height: 100px;
  margin: 0;
}
#section1 ul a{
  color: white;
  text-decoration: none;
}
#section1 h1{
  line-height: 100px;
  margin:0;
}
#section1 ul{
  line-height: 100px;
  margin: 0;
}
.box{
  color: white;
}
.box-top{
  text-align: center;
  margin-top: 20px;
}
.box-top img{
  height:200px;
}
#section2{
  background-color: #72b89f;
  color: white;
}
hr{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.box-bottom ul li{
  display: inline-block;
}
#section3{
  background-color: white;
  color: black;
}
#section3 hr{
  border-color: black;
}
#section3 h1{
  line-height: 100px;
}
#section3 img{
width: 100%;
}
#section3 [class*="col-"]{
  margin-top: 15px;
}
#section4{
  background-color: #72b89f;
  margin-top: 30px;
  color: white;
}
#section4 .btn{
  color: white;
  background-color: #72b89f;
  border-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
#section5{
  color: black;
}
#section5 hr{
  border-color: black;
}
#section5 input{
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  border-radius: 0;
}
#InputMessage{
  margin-top: 100px;
}
#footer{
  color: white;
  margin-top: 30px;
}
.f_top{
  background-color:#28489c;
}
.f_bottom{
  background-color: #324370;
  height: 50px;
}
#footer .f_top ul li{
  display: inline-block;
}
.green{
  color: green;
}
.h-600{
  height: 600px;
}
.box{
  height: 400px;
  width: 50%;
  margin: auto;
  border: 1px solid green;
}

.h-700{
  height: 700px;
}
.h-200{
  height: 200px;
}
.top{
  margin-top: 0;
}
.h-400{
  height: 400px;
}
.h-500{
  height: 500px;
}
.h-300{
  height: 300px;
}
/*MEDIA QUERIES*/
